@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
    --cyan-300: #5bc0de;
    --cyan-400: #31b0d5;
    --cyan-500: #2a9fd6;
    --cyan-600: #1d8bb2;

    --gray-300: #d6d8db;
    --gray-400: #c6c8ca;
    --gray-500: #b8bcbf;
    --gray-600: #6c757d;

    --indigo-200: #9f7aea;
    --indigo-300: #7e57c2;
    --indigo-400: #673ab7;
    --indigo-500: #5e35b1;
    --indigo-600: #512da8;

    --fuente: 'Roboto Condensed';

    --input-focus: #2a9fd6;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: beige;
    --main-color: black;
}


/* Archivo: styles.css */



main {
    background-color: var(--gray-500);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: var(--fuente);
}

.footer{
  background-color: var(--cyan-400);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-family: var(--fuente);

}


.footer img {
  display: flex;
  justify-content: start;
  width: 200px;
  height: auto;
}

nav {
    background-color: var(--cyan-400);
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--fuente);
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    font-family: var(--fuente);
}

.nav-links {
    display: flex;
    gap: 1rem;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--cyan-500);
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    transition: background-color 0.3s;
    font-family: var(--fuente);
}

button:hover {
    background-color: var(--indigo-300);
    box-shadow: 0px 0px var(--indigo-200);
    transform: translate(3px, 3px);
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--fuente);
}

.gray-500{
    background: var(--gray-500);
}

.form {
    padding: 20px;
    background: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    margin-bottom: 20px;
    width: 600px;
  }
  
  .title {
    color: var(--font-color);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 25px;
  }
  
  .title span {
    color: var(--font-color-sub);
    font-weight: 600;
    font-size: 17px;
  }
  
  .input {
    width: 450px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
    margin: 9px;
  }
  
  .input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  .input:focus {
    border: 2px solid var(--input-focus);
    box-shadow: 4px 4px var(--input-focus);
  }
  
  .login-with {
    display: flex;
    gap: 20px;
  }
  
  .button-log {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    color: var(--font-color);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    fill: var(--main-color);
  }
  
  .button-log:active, .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }
  
  .button-confirm {
    margin: 50px auto 0 auto;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
  }
  
  .titleXL{
    font-size: xx-large;
  }

  .containerCard{
    display: flex;
    align-items: center;
    margin: 5%;
  }

  .containerIndex{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    justify-content: center;
  }

.card {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card img {
  width: 350px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card:hover img {
  transform: rotate(-45deg); /* Esto mantiene la imagen rotada */
  scale: 0; /* Esto oculta la imagen */
}

.containerProducto {
  padding: 20px;
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  margin: 5%;
  width: 1200px;
}

.tituloProducto {
  color: var(--font-color);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 25px;
  text-align: center;
}

.tituloProducto span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
}

.tablaProducto {
  width: 100%;
  border-collapse: collapse;
}

.tablaProducto__header {
  background-color: var(--main-color);
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border-bottom: 2px solid #ddd;
}

.tablaProducto__fila:nth-child(even) {
  background-color: #f9f9f9;
}

.tablaProducto__fila:hover {
  background-color: #f1f1f1;
}

.tablaProducto__dato {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.tablaProducto__dato:nth-child(6) {
  text-align: center;
}
