{% extends "base.html" %}

{% block title %} 
Agregar Producto
{% endblock %}

{% block content %}
    <h4 class="title">Agregar Producto</h4>
    <form action="/agregar_producto" method="post">
    <div class="container container-datos" id="card01" style="display: block;">
        <div class="row">
        <div class="col-6">
            <label class="form-label">Datos básicos del dispositivo:</label>
            <ul>
                <li>
                    <input type="text" id="nombre_equipo" name="nombre_equipo" class="form-nombre" placeholder="Nombre del equipo">
                </li>
                <li>
                    <input type="text" id="nombre_modelo" name="nombre_modelo" class="form-modelo" placeholder="Nombre del modelo">
                </li>
                <li>
                    <input type="text" id="nombre_marca" name="nombre_marca" class="form-marca" placeholder="Nombre de la marca">
                </li>
            </ul>
            <label class="form-label second-label">Descripcion del producto:</label>
            <ul>
                <li>
                    <textarea id="descripcion_del_equipo" name="descripcion_del_equipo" rows="4" cols="50"></textarea>
                </li>
            </ul>
            <div class="button-container">
                <button type="button" class="btn btn-primary button-next" onclick="visibilityCards()">Siguiente</button>
            </div>
        </div>
        </div>
    </div>

    <div class="container container-fabricante" id="card02" style="display: none;">
        <div class="row">
        <div class="col-6">
            <label class="form-label">Datos del fabricante:</label>
            <ul>
                <li>
                    <input type="text" id="nombre_fabricante" name="nombre_fabricante" class="form-fabricante mb-2" placeholder="Nombre del fabricante">
                </li>
                <li>
                    <input type="text" id="pais_del_fabricante" name="pais_del_fabricante" class="form-pais mb-2" placeholder="País del fabricante">
                </li>
            </ul>
            <div class="button-container">
                <button type="button" class="btn btn-primary button-next" onclick="visibilityCards()">Siguiente</button>
            </div>
        </div>
        </div>
    </div>

    <div class="container container-stock" id="card03" style="display: none;">
        <div class="row">
        <div class="col-6">
            <label class="form-label">Stock:</label>
            <ul>
                <li>
                    <input type="number" id="precio" name="precio" min="50000" max="300000" class="form-precio mb-2" placeholder="Precio del equipo">
                </li>
                <li>
                    <input type="text" id="ubicacion_del_equipo" name="ubicacion_del_equipo" class="form-ubi mb-2" placeholder="Ubicación del equipo">
                </li>
                <li>
                    <input type="number" id="cantidad_equipo" name="cantidad_equipo" min="0" max="1000" class="form-cant mb-2" placeholder="Cantidad del producto">
                </li>
            </ul>

            <label class="form-label second-label">Disponibilidad:</label>
                <ul>
                    <li>
                        <select id="stock" name="stock" class="form-control mb-2">
                            <option value="-">-</option>
                            <option value="si">Si</option>
                            <option value="no">No</option>
                        </select>
                    </li>
                </ul>
            <div class="button-container">
                <button type="button" class="btn btn-primary button-next" onclick="visibilityCards()">Siguiente</button>
            </div>
        </div>
        </div>
    </div>

    <div class="container container-caracteristicas" id="card04" style="display: none;">
        <div class="row">
        <div class="col-6">
            <label class="form-label">Características del dispositivo:</label>
            <ul>
                <li>
                    <input type="text" id="color" name="color" class="form-color" placeholder="Color del equipo">
                </li>
                <li>
                    <input type="text" id="pantalla_tamaño" name="pantalla_tamaño" class="form-pantalla" placeholder="Pantalla del equipo">
                </li>
                <li>
                    <input type="text" id="bateria" name="bateria" class="form-bateria" placeholder="Batería del equipo">
                </li>
                <li>
                    <input type="text" id="camara" name="camara" class="form-camara" placeholder="Cámara del equipo">
                </li>
                <li>
                    <input type="text" id="cpu" name="cpu" class="form-cpu" placeholder="CPU del equipo">
                </li>
            </ul>
            <label class="form-label second-label">Tipo de sistema operativo:</label>
            <ul>
                <li>
                    <select id="tipo_software" name="tipo_software" class="form-control mb-2">
                        <option value="-">-</option>
                        <option value="Ios">Ios</option>
                        <option value="Android">Android</option>
                    </select>
                </li>
            </ul>
            <div class="button-container">
                <button type="button" class="btn btn-primary button-next" onclick="visibilityCards()">Siguiente</button>
            </div>
        </div>
        </div>
    </div>

        <div class="container container-proveedor" id="card05" style="display: none;">
        <div class="row">
        <div class="col-6">
            <label class="form-label">Datos del proveedor:</label>
            <ul>
                <li>
                    <input type="text" id="nombre_proveedor" name="nombre_proveedor" class="form-nombre-prov" placeholder="Nombre del proveedor">
                </li>
                <li>
                    <input type="tel" id="numero_de_prov" name="numero_de_prov" class="form-num-prov" placeholder="Número del proveedor">
                </li>
                <li>
                    <input id="provincia_prov" name="provincia_prov" class="form-provincia" placeholder="Provincia del proveedor">
                </li>
            </ul>
            <div class="button-container">
                <button type="button" class="btn btn-primary button-next" onclick="visibilityCards()">Siguiente</button>
            </div>
        </div>
        </div>
    </div>

    <div class="container container-accesorios" id="card06" style="display: none;">
        <div class="row">
        <div class="col-6">
            <label>Accesorios:</label>

            <label>Cargador:</label>
            <select id="cargador" name="cargador" class="form-control mb-2">
                <option value="-">-</option>
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>

            <label>Auriculares:</label>
            <select id="auriculares" name="auriculares" class="form-control mb-2">
                <option value="-">-</option>
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>

            <label>Funda:</label>
            <select id="funda" name="funda" class="form-control mb-2">
                <option value="-">-</option>
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>

            <label>Protector:</label>
            <select id="protector" name="protector" class="form-control mb-2">
                <option value="-">-</option>
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
            <div class="button-container">
                <button type="submit" class="btn btn-primary">Agregar Producto</button>
            </div>
        </div>
        </div>
    </div>
    </form>
    <script {{ url_for('static', filename='js/script01.js') }}"></script>
{% endblock %}