{% extends "base.html" %}

{% block title %} 
Agregar Producto
{% endblock %}

{% block content %}
    <h4 class="title">Agregar Producto</h4>
    <form action="/agregar_producto" method="post" id='form'>
    <div class="container container-datos" id="card01" style="display: block;">
        <div class="row">
        <div class="col-6">
            <label class="form-label">Datos básicos del dispositivo:</label>
            <ul>
                <li>
                    <input type="text" id="nombre_equipo" name="nombre_equipo" class="form-nombre" placeholder="Nombre del equipo">
                </li>
                <li>
                    <input type="text" id="nombre_modelo" name="nombre_modelo" class="form-modelo" placeholder="Nombre del modelo">
                </li>
                <li>
                    <input type="text" id="nombre_marca" name="nombre_marca" class="form-marca" placeholder="Nombre de la marca">
                </li>
            </ul>
            <label class="form-label second-label">Descripcion del producto:</label>
            <ul>
                <li>
                    <textarea id="descripcion_del_equipo" name="descripcion_del_equipo" rows="4" cols="50"></textarea>
                </li>
            </ul>
            <div class="button-container">
                <button type="submit" class="btn btn-primary button-next" id='next'>Siguiente</button>
            </div>
        </div>
        </div>
    </div>

    <div class="container container-fabricante" id="card02" style="display: none;">
        <div class="row">
        <div class="col-6">
            <label class="form-label">Datos del fabricante:</label>
            <ul>
                <li>
                    <input type="text" id="nombre_fabricante" name="nombre_fabricante" class="form-fabricante mb-2" placeholder="Nombre del fabricante">
                </li>
                <li>
                    <input type="text" id="pais_del_fabricante" name="pais_del_fabricante" class="form-pais mb-2" placeholder="País del fabricante">
                </li>
            </ul>
            <div class="button-container">
                <button type="submit" class="btn btn-primary button-next">Siguiente</button>
            </div>
        </div>
        </div>
    </div>

    <div class="container container-stock" id="card03" style="display: none;">
        <div class="row">
        <div class="col-6">
            <label class="form-label">Stock:</label>
            <ul>
                <li>
                    <input type="number" id="precio" name="precio" min="50000" max="300000" class="form-precio mb-2" placeholder="Precio del equipo">
                </li>
                <li>
                    <input type="text" id="ubicacion_del_equipo" name="ubicacion_del_equipo" class="form-ubi mb-2" placeholder="Ubicación del equipo">
                </li>
                <li>
                    <input type="number" id="cantidad_equipo" name="cantidad_equipo" min="0" max="1000" class="form-cant mb-2" placeholder="Cantidad del producto">
                </li>
            </ul>

            <label class="form-label second-label">Disponibilidad:</label>
                <ul>
                    <li>
                        <select id="stock" name="stock" class="form-control mb-2">
                            <option value="-">-</option>
                            <option value="si">Si</option>
                            <option value="no">No</option>
                        </select>
                    </li>
                </ul>
            <div class="button-container">
                <button type="button" class="btn btn-primary button-next" id='next'>Siguiente</button>
            </div>
        </div>
        </div>
    </div>

    <div class="container container-caracteristicas" id="card04" style="display: none;">
        <div class="row">
        <div class="col-6">
            <label class="form-label">Características del dispositivo:</label>
            <ul>
                <li>
                    <input type="text" id="color" name="color" class="form-color" placeholder="Color del equipo">
                </li>
                <li>
                    <input type="text" id="pantalla_tamaño" name="pantalla_tamaño" class="form-pantalla" placeholder="Pantalla del equipo">
                </li>
                <li>
                    <input type="text" id="bateria" name="bateria" class="form-bateria" placeholder="Batería del equipo">
                </li>
                <li>
                    <input type="text" id="camara" name="camara" class="form-camara" placeholder="Cámara del equipo">
                </li>
                <li>
                    <input type="text" id="cpu" name="cpu" class="form-cpu" placeholder="CPU del equipo">
                </li>
            </ul>
            <label class="form-label second-label">Tipo de sistema operativo:</label>
            <ul>
                <li>
                    <select id="tipo_software" name="tipo_software" class="form-control mb-2">
                        <option value="-">-</option>
                        <option value="Ios">Ios</option>
                        <option value="Android">Android</option>
                    </select>
                </li>
            </ul>
            <div class="button-container">
                <button type="button" class="btn btn-primary button-next" id='next'>Siguiente</button>
            </div>
        </div>
        </div>
    </div>

        <div class="container container-proveedor" id="card05" style="display: none;">
        <div class="row">
        <div class="col-6">
            <label class="form-label">Datos del proveedor:</label>
            <ul>
                <li>
                    <input type="text" id="nombre_proveedor" name="nombre_proveedor" class="form-nombre-prov" placeholder="Nombre del proveedor">
                </li>
                <li>
                    <input type="tel" id="numero_de_prov" name="numero_de_prov" class="form-num-prov" placeholder="Número del proveedor">
                </li>
                <li>
                    <input id="provincia_prov" name="provincia_prov" class="form-provincia" placeholder="Provincia del proveedor">
                </li>
            </ul>
            <div class="button-container">
                <button type="submit" class="btn btn-primary button-next" id='next'>Siguiente</button>
            </div>
        </div>
        </div>
    </div>

    <div class="container container-accesorios" id="card06" style="display: none;">
        <div class="row">
        <div class="col-6">
            <label>Accesorios:</label>

            <label>Cargador:</label>
            <select id="cargador" name="cargador" class="form-control mb-2">
                <option value="-">-</option>
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>

            <label>Auriculares:</label>
            <select id="auriculares" name="auriculares" class="form-control mb-2">
                <option value="-">-</option>
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>

            <label>Funda:</label>
            <select id="funda" name="funda" class="form-control mb-2">
                <option value="-">-</option>
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>

            <label>Protector:</label>
            <select id="protector" name="protector" class="form-control mb-2">
                <option value="-">-</option>
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
                <button type="submit" class="btn btn-primary" id='finalButton'>Agregar Producto</button>
        </div>
        </div>
    </div>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
    // Función de validación
    function validateForm() {
        let isValid = true;

        // Recuperamos la información ingresada y validamos
        const productName = document.getElementById('nombre_equipo').value;
        if (!productName) {
            isValid = false;
            window.alert('Debe completar el nombre del equipo');
        }

        const modelName = document.getElementById('nombre_modelo').value;
        if (!modelName) {
            isValid = false;
            window.alert('Debe completar el nombre del modelo');
        }

        const brandName = document.getElementById('nombre_marca').value;
        if (!brandName) {
            isValid = false;
            window.alert('Debe completar el nombre de la marca');
        }

        const textarea = document.getElementById('descripcion_del_equipo').value;
        const maxCaracteres = 100;

        if (textarea.length > maxCaracteres) {
            isValid = false;
            window.alert('Se superó el límite establecido de caracteres');
        }

        const manufacturerName = document.getElementById('nombre_fabricante').value;
        if (!manufacturerName) {
            isValid = false;
            window.alert('Debe completar el nombre del fabricante');
        }

        const manufacturerCountry = document.getElementById('pais_del_fabricante').value;
        if (!manufacturerCountry.match(/^[a-zA-Z\s]+$/)) {
            isValid = false;
            window.alert('El país del fabricante solo debe contener letras');
        }

        // Verificación del precio
        const precio = parseFloat(document.getElementById('precio').value);
        if (isNaN(precio) || precio < 50000 || precio > 300000) {
            isValid = false;
            window.alert('El precio debe estar entre 50,000 y 300,000');
        }

        // Verificación de la cantidad de equipos
        const cantEquipo = parseInt(document.getElementById('cantidad_equipo').value);
        if (isNaN(cantEquipo) || cantEquipo < 0 || cantEquipo > 1000) {
            isValid = false;
            window.alert('La cantidad debe estar entre 0 y 1000');
        }

        // Verificación del stock
        const stockSelect = document.getElementById('stock').value;
        if (stockSelect === '-') {
            isValid = false;
            window.alert('Seleccione una opción válida');
        }

        // Validación del color
        const arrayColors = ["rojo", "verde", "azul", "amarillo", "naranja", "morado", "rosa", "marrón", "negro", "blanco"];
        const color = document.getElementById('color').value.toLowerCase();
        if (!arrayColors.includes(color)) {
            isValid = false;
            window.alert('La opción ingresada para el color no es válida');
        }
        
        const cantCam = document.getElementById('camara').value
        if(cantCam < 0 || cantCam > 3) {
            isValid = false;
            window.alert('La cantidad de cámaras ingresadas no es válida. Por favor, inténtalo de nuevo.');
        }

        const tipoSoftware = document.getElementById('tipo_software').value;
        if(tipoSoftware === '-') {
            isValid = false;
            window.alert('Seleccione una opción válida');
        } 

        const cargador = document.getElementById('cargador').value;
        if(cargador === '-') {
            isValid = false;
            window.alert('Seleccione una opción válida');
        }

        const auriculares = document.getElementById('auriculares').value;
        if(auriculares === '-') {
            isValid = false;
            window.alert('Seleccione una opción válida');
        }

        const funda = document.getElementById('funda').value;
        if(funda === '-') {
            isValid = false;
            window.alert('Seleccione una opción válida');
        }

        const protector = document.getElementById('protector').value;
        if(protector === '-') {
            isValid = false;
            window.alert('Seleccione una opción válida');
        }

        return isValid;
    }

    // Validar el formulario al enviar
    document.getElementById('form').addEventListener('submit', (event) => {
        if (!validateForm()) {
            event.preventDefault(); // Previene el envío del formulario si no es válido
        }
    });

    // Limitar caracteres especiales en el campo "pais del fabricante"
    document.getElementById('pais_del_fabricante').addEventListener('input', function() {
        this.value = this.value.replace(/[^a-zA-Z\s]/g, '');
    });

    // Limitar caracteres especiales en el campo "ubicacion del equipo"
    document.getElementById('ubicacion_del_equipo').addEventListener('input', function() {
        this.value = this.value.replace(/[^a-zA-Z\s]/g, '');
    });

    document.getElementById('pantalla_tamaño').addEventListener('input', function(){
        this.value = this.value.replace(/[^a-zA-Z\s]/g, '');
    });

    document.getElementById('bateria').addEventListener('input', function(){
        this.value = this.value.replace(/[^a-zA-Z\s]/g, '');
    });

    document.getElementById('cpu')document.addEventListener('input', function(){
        this.value = this.value.replace(/[^a-zA-Z\s]/g, '');
    });

    document.getElementById('nombre_proveedor').addEventListener('input', function(){
        this.value = this.value.replace(/[^a-zA-Z\s]/g, '');
    });

    document.getElementById('numero_de_prov').addEventListener('input', function(){
        // Elimina todo lo que no sean dígitos
        this.value = this.value.replace(/\D/g, '');

        // Limita la longitud a 10 dígitos
        if (this.value.length > 10) {
            this.value = this.value.slice(0, 10);
        }
    })

    document.getElementById('provincia_prov').addEventListener('input', function(){
        this.value = this.value.replace(/[^a-zA-Z\s]/g, '');
    })

});
    </script>
{% endblock %}
