<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tomastemarc Cell{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-client.css') }}">
</head>
<body class="gray-500">
    <header>
        <nav class="menu">
            <div class="container-logo">
                <img src="static/img/logo_tomastemarc.png" alt="logo">
            </div>
            <div class="nav-links">
                <a href="/inicio_comprador"><button>Inicio</button></a>
                <a href="/comprar"><button>Comprar</button></a>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Tomastemarc Cell. Todos los derechos reservados.</p>
        <div class="contact">
            <a href="/contacto">Únete a nuestro staff</a>
        </div>
        <div class="about-us">
            <a href="/nosotros">Sobre nosotros</a>
        </div>
    </footer>
</body>
</html>