<!-- templates/template_base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tomastemarc Cell{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="gray-500">
    <header>
        <nav class="menu">
            <img src="static/img/logo_tomastemarc.png" alt="logo">
            <h1 class="titleXL">Tomastemarc Cell</h1>
            <div class="nav-links">
                <a href="/"><button>Inicio</button></a>
                <a href="/producto"><button>Productos</button></a>
                <a href="/agregar_producto"><button>Agregar Productos</button></a>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <img src="static/img/logo_tomastemarc.png" alt="logo">
        <p>&copy; 2024 Tomastemarc Cell. Todos los derechos reservados.</p>
    </footer>
</body>
</html>