<!-- templates/template_base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tomastemarc Cell{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Fuente de Google -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Tomastemarc Cell</h1>
    </header>
    <nav>
        <a href="/">Inicio</a>
        <a href="/productos">Productos</a>
        <a href="/agregar_producto">Agregar Producto</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Tomastemarc Cell. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
